<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Statics/css/style.css">
        <title>Input event</title>
    </head>

    <body>
        <div id="Contenedor">
            <form>
                <label for="Busqueda" id="LBusqueda"> <b>Buscador: </b> </label>
                <br>
                <input type="text" name="Busqueda" id="Busqueda" placeholder="Buscador">
            </form>
        </div>

        <script src="../Dynamics/js/funcionalidad.js"></script>
    </body>
</html>